h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}


/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}


/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}



/* Forms
   ========================================================================== */
/**
 * Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  margin: 0;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

progress {
  vertical-align: baseline;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

a {
  color: #444444;
}

a:hover {
  color: #799999;
}

p {
  font-size: 1rem;
}

code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 0.95rem;
  background: #878787;
  padding: .2rem;
}

pre {
  overflow: auto;
  background: #878787;
  padding: 1rem;
  line-height: 0.9rem;
  font-kerning: auto;
  border: 1px solid #999999;
}

blockquote {
  background: #878787;
  color: #232323;
  border-left: 4px solid #e5e5e5;
  margin-left: 0;
  padding: .1rem .8rem;
}

table {
  border-spacing: 0;
  border-top: 1px solid #f0f0f0;
  border-left: 1px solid #f0f0f0;
  margin-bottom: 2rem;
  width: 100%;
}

th {
  border-bottom: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0;
  padding: .4em;
  font-weight: bold;
}

td {
  border-bottom: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0;
  padding: .4em;
}

tr:nth-child(even) td {
  background: #f8f8f8;
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
}

hr {
  height: 2px;
  border: 0;
  background-color: #ccc;
}

main {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
  padding: 1rem 3rem 3rem;
}

.sidebar {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  flex: 0 0 25%;
  -webkit-box-ordinal-group: 0;
  order: -1;
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 90%;
  background: #f9f9f9;
  border-right: 1px solid #eee;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul ul ul {
  margin-left: 1rem;
}

.sidebar a {
  display: block;
  color: #404040;
  text-decoration: none;
  padding: .2rem 1.2rem;
  border-left: solid 4px #f9f9f9;
  border-bottom: solid 1px #eee;
}

.sidebar a:hover {
  color: #404040;
  background: #eee;
  border-left: solid 4px #ccc;
}

.sidebar li li a {
  padding-left: 2rem;
}

.sidebar .active > a {
  background: #eee;
  border-left: solid 4px #ccc;
}

.sidebar-footer {
  margin: 1rem;
  margin-top: 2rem;
}

.panel {
  margin-bottom: 2rem;
  padding: 1rem;
}

.panel-primary {
  border: 1px solid #f0f0f0;
}

.panel-notice {
  color: #fff;
  background: #4ba0e1;
}

.panel-success {
  color: #fff;
  background: #609f43;
}

.panel-caution {
  color: #fff;
  background: #de776d;
}

.panel-warning {
  color: #fff;
  background: #e67e22;
}

.panel-danger {
  color: #fff;
  background: #ce3426;
}

.panel-header h3 {
  margin: 0;
  margin-bottom: 0.6rem;
}

.button-primary {
  border: 1px solid #f0f0f0;
}

.button-success {
  background: #369b08;
}

.button-success:hover {
  background: #256905;
}

.button-caution {
  background: #f56558;
}

.button-caution:hover {
  background: #d45145;
}

.button-warning {
  background: #f5811b;
}

.button-warning:hover {
  background: #db7012;
}

.button-danger {
  background: #ce3426;
}

.button-danger:hover {
  background: #a0281d;
}

.backtothetop {
  display: none;
  font-size: 200%;
}

.fa-layers .fa-circle {
  color: #fff;
}

header {
  background: #000;
  position: fixed;
  top: 0px;
  width: 100%;
  padding-left: 10px;
  height: 42px;
}


header h1 {
  color: #999999;
  font-size: 140%;
  display: inline-block;
  margin: 0;
}


footer {
  margin-top: 2rem;
}

.actions {
  position: absolute;
  right: 32px;
  top: 0px;
}

.edit-page {
  color: #fff;
  font-size: 140%;
  text-decoration: none;
  padding-right: 10px;
  display: inline;
  font-weight: bold;
}